<div class="parent">
    <div class="box">
          <div class="child1">
            <h1>School Application Login</h1>
          </div>
             
          <div class="child2">
            <form>
            <label>Email:</label>
            <input type="text" placeholder="Enter Your Email">
            <br><br>

            <label>password:</label>
            <input type="text" placeholder="Enter Your Password">
            <br><br>
            
            <button routerLink="/dashboard" class="btn btn-warning">Submit</button>
        </form>
      </div> 
    </div>

</div>