<div class="parent">
    <div class="container">

<h1>{{id}}</h1>
<h5></h5>
<h5>CreatedAt:{{content.createdAt}}</h5>
<h5>Name:{{content.name}}</h5>
<h5>Male:{{content.male}}</h5>
<h5>Female:{{content.female}}</h5>
<img src="{{content.avatar}}" alt="">
<h5>Percentage:{{content.percentage}}</h5>
<h5>ID:{{content.id}}</h5>
<h5>Email:{{content.email}}</h5>
<h5>Password:{{content.password}}</h5>
<h5>Fathername:{{content.fathername}}</h5>
<h5>Address-Line:{{content.address.addressline}}</h5>
<h5>city:{{content.address.city}}</h5>
<h5>State:{{content.address.state}}</h5>
<h5>pincode:{{content.address.pincode}}</h5>
<h5>Dayscholor/Resedential:{{content.type}}</h5>
<h5>Bus Fee:{{content.busfee}}</h5>
<h5>Hostel Fee:{{content.hostelfee}}</h5>

<p *ngFor="let mark of content.marks" class>{{mark | json}}</p>



